@media only screen and (min-width: 630px) {

  body {
    .font-size(m);
    .font-leading(m);
  }

// TYPOGRAPHY //////////////////////////////////////////////////////////////////

  h1 {
    .font-size(ll);
    .font-leading(ll);
  }

  h2 {
    padding: 30px 0;
    .font-size(l);
    .font-leading(l);
  }

  figure {
    figcaption {
      &.exif, &.description {
        padding-top: 15px;
      }
      &.exif {
        display: block;
      }
      &.description {
        right: 60px;
      }
    }
  }

  hr {
    padding: 30px 0 60px 0;
  }

// LAYOUT - HEADER /////////////////////////////////////////////////////////////

  body > header {
    nav {
      padding: 30px 30px 60px 30px;
      width: 620px;
      // text-align: left;
    }

    ul {
      li {
        display: inline-block;
        margin-right: 30px;
        &:last-of-type {
          margin-right: 0;
        }
      }

      a {
        &:hover {
          text-decoration: none;
          .font-color(grey--dd);
          &:after {
            display: block;
            position: absolute;
            content: "";
            width: 100%;
            bottom: -1px;
            border-top: 1px solid @color-grey--dd;
          }
        }
        &.active {
          .font-color(grey--dd);
          &:after {
            display: block;
            position: absolute;
            content: "";
            width: 100%;
            bottom: -1px;
            border-top: 1px solid @color-grey--dd;
          }
        }
      }
    }
  }

  a.brand {
    .font-size(m);
    .logo {
      margin-right: 10px;
    }
  }


// LAYOUT - FOOTER /////////////////////////////////////////////////////////////

  main {
    > footer {
      padding: 30px 0 60px 0;
      width: 560px;
      border-top: @border-structural;
      .background-color(@color-grey--w);
    }
  }


// VIEWS - LISTING /////////////////////////////////////////////////////////////

  .listing {
    article.writing {
      a {
        .font-size(m);
      }
    }
  }


// VIEWS - POST ////////////////////////////////////////////////////////////////

  .post {
    section {
      > p {
        &:first-of-type {
          .font-size(mm);
          .font-leading(mm);
        }
        &:last-of-type {
          &:after {
            margin: 60px auto 90px auto;
          }
        }
      }
    }
  }



// VIEWS - PHOTOS //////////////////////////////////////////////////////////////

  .photos {
    figure {
      padding: 0 60px;
      margin: 0 auto 120px auto;
      max-width: 1024px;
    }
  }

  article {
    width: 620px;
    header {
      time {
        &:before {
          // border-top: @border-structural;
        }
      }
    }

    p:first-of-type {

    }
  }


}
