
// 404 /////////////////////////////////////////////////////////////

section.error
  margin: 0 0 99px 0
  +background-color($color-grey--l)
  @include border-radius(16.5px)
  h1
    padding: 33px 0 66px 0
  h2
    padding: 0 0 33px 0
