@import "variables"

@media all and (orientation: portrait)

@media all and (orientation: landscape)


// html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }


@media screen and (max-width: 1280px)

@media screen and (max-width: 1000px)
  article header
    time
      left: auto
      right: -150px
      text-align: left
      &:before, &:after
        margin-left: 0

@media only screen and (max-width: 1024px)
  body
    margin: 0 0 20px auto
    width: 840px
    header.banner
      width: 660px
    main
      width: 660px

@media only screen and (max-width: 870px)
  body
    margin: 0 auto
    width: 660px
    main
      width: auto
  article
    header time
      left: auto
      right: 0
      bottom: 0
      text-align: right
      &:before, &:after
        margin-left: 90px
    figure figcaption
      position: relative
      line-height: 33px
      right: 0
      width: 100%
      &:before
        margin-bottom: -1px
      &:after
        display: none

@media only screen and (max-width: 768px)
  body
    width: 540px
    header.banner
      width: 540px

@media only screen and (max-width: 630px)
  body
    width: 420px
    header.banner
      width: 420px

@media only screen and (max-width: 480px)
  body
    width: 360px
    header.banner
      width: 360px

@media only screen and (max-width: 420px)
  body
    width: 280px
    font-size: $font-size-s
    main.page
      article header h2
        text-align: left
    header.banner
      padding: 33px 0
      text-align: center
      a.brand
        display: block
      ul.nav
        float: none
    section.listing
      a
        display: inline
        width: auto
      time
        float: none
    header.banner
      width: 280px
    h1
      font-size: $font-size-l
      line-height: 49.5px
      text-align: center
    h2
      padding: 24.75px 0 8.25px 0
      font-size: $font-size-base
    blockquote
      margin-left: -10px
      padding-left: 10px
      font-size: $font-size-base
    article
      margin: 0 0 66px 0
      header
        h2
          font-size: $font-size-s
          line-height: 1.5
          text-align: center
        time
          position: relative
          margin: 16.5px auto 0 auto
          right: auto
          bottom: auto
          display: block
          text-align: center
          &:before, &:after
            margin: 0 auto
      section>p:first-of-type
        font-size: $font-size-base
  