// @import "compass/typography"
@import "variables"

body
  font-family: $font-serif
  font-size: 23px
  line-height: 35px
  color: $color-base
  // -webkit-font-smoothing: antialiased

p
  margin: 0 0 35px 0
b
strong
i
em
  font-style: italic

ul
  list-style:none
  margin: 0
  -webkit-margin-before: 0
  -webkit-padding-start: 0

li
  code 
    color: #000

a 
  text-decoration: none
  color: $color-link
  &:hover
    color: $color-link
    text-decoration: underline
  // &:visited, &:active

// ELEMENTS - TYPOGRAPHY - HEADINGS ////////////////////////////////////////////////////////////////

h1, h2, h3, h4, h5
  font-family: $font-sans
  font-weight: 600
  color: $color-dark
      
h1 
  font-size: 32px
  line-height: 45px
  color: $color-base
h2
  margin: 36px 0 16px 0
  font-size: 27px
  line-height: 32px

// !ELEMENTS - !TYPOGRAPHY - MISC //////////////////////////////////////////////////////////////////

time
  font-family: $font-sans
  font-size: 18px
  line-height: 24px
  font-weight: 400
  color: $color-light

blockquote
  padding: 0 20px
  font-size: 28px
  line-height: 36px
  font-weight: 500
  color: #999
  border-left: 1px dotted #D37982
  p
    @include font-serif-italic
    letter-spacing: .01rem

header.banner, aside.aside
  @include font-sans
  font-size: 18px
  line-height: 24px
  color: #444
  text-align: center
  a.brand
    color: #444
aside.aside
  text-align: left

article
  // font-family: $font-serif
  header
    text-align: center
    h1
      font-size: 40px
      line-height: 66px
    h2
      @include font-serif-italic
      font-weight: 300
      letter-spacing: 0px
      color: $color-light
    time
      span
        font-size: 14px
        line-height: 21px
        // color: $color-light
  figure
    figcaption
      @include font-serif-italic
      font-size: 14px
      line-height: 20px
      letter-spacing: .01rem

footer
  @include font-sans
  color: #999
