// COLOURS //////////////////////////////////////////////////////////////////

// $color-link: #FF0033
// $color-link: #2455c3
// $color-link: #2A363B
$color-base: #2A363B
// $color-midlayer: #999
$color-midlayer: #C6C7C9
$color-lowlight: #CEECEF
$color-highlight: #FF6666
$color-crunch: #222

// !TYPOGRAPHY //////////////////////////////////////////////////////////////////

$font-serif: 'freight-text-pro', Georgia, serif
$font-sans: 'freight-sans-pro', Helvetica, Arial, sans-serif

@mixin font-serif-italic
  font-family: $font-serif 
  font-style: italic

@mixin font-sans
  font-family: $font-sans 
  font-weight: normal

$font-size-base: 22px
$font-size-small: 16.6px

$border-structural: 1px solid $color-midlayer
$border-arrested: 1px solid $color-lowlight