== ---
title: Marc Ziani de Ferranti // About
layout: default
== ---

%article
  %header
    %h1 About
    %time
      %span 2014
    %h2 Marc Ziani de Ferranti is a [Graphic, Web, User Interface]  Designer, and Web Developer living and working in Sydney.
  %section
    %p
      :markdown
        Marc has a BCd (Bachelor of Communication Design), a MSE (Masters of Software Engineering), and is currently working as a User Interface Designer and Web Developer at [Intersect](http://www.intersect.org.au/). Occasional [writing](/) of his can also be found on this website, often consisting of whatever is on his mind.
    %p
      :markdown
        If you'd like to get in contact quickly, you can [email]( mailto:mezdef@gmail.com), or look up [@mezdef](http://twitter.com/#!/mezdef) on Twitter. Public work can be found on [Github](https://github.com/mezdef), and [Flickr](http://www.flickr.com/photos/mezdef/); Some personal interests can be found on [Letterboxd](http://letterboxd.com/mezdef/) or [Goodreads](https://www.goodreads.com/mezdef).
