== ---
title: Marc Ziani de Ferranti // About
layout: default
permalink: about/
== ---

%article
  %header
    %h1 About the author
    %h2 or somthing to that effect
  %section
    %p
      :markdown
        An Australian expatriate living and working in New York as a Web Developer for [Samsung](http://www.samsung.com/us/) by day, and a freelance designer by night.
    %p
      :markdown
        Marc has a BCd (Bachelor of Communication Design), a MSE (Masters of Software Engineering), and more than 6 years experience in design and development.
    %p
      :markdown
        If you'd like to get in contact quickly, he can be [emailed]( mailto:mezdef@gmail.com) or found as   [@mezdef](http://twitter.com/#!/mezdef) on Twitter. Public work can be sleuthed on [Github](https://github.com/mezdef), and [Flickr](http://www.flickr.com/photos/mezdef/); Personal cinematic and literary interests can be found on [Letterboxd](http://letterboxd.com/mezdef/) and [Goodreads](https://www.goodreads.com/mezdef) respectively.
