== ---
title: Hello, World!
layout: default
== ---

%article
  %header Hi,
  %section
    %h2 —
    %p
      A graduate of Billy Blue College of Design with a Bachelor of Communication Design from Swinburne University; I am currently working as a User Interface Designer at
      = succeed "," do
        %a{href: "http://www.intersect.org.au/"} Intersect
    %p If you're interested in contacting me, please refer to the following details:
    %h2 —
    / <h3>Mobile: +61 2 423 003 402</h3>
    %h3
      email:
      %a{href: "mailto:mezdef@gmail.com"} mezdef@gmail.com
    %h3
      Twitter:
      %a{href: "http://twitter.com/#!/mezdef"} @mezdef