== ---
title: Hello, World!
layout: default
== ---

%article.listing
  %section
    %ul
      == {% for post in site.posts %}
      %li
        %a{ href: "{{ post.url }}" }
          == {{ post.title }}
        %time {{ post.date | date: "%b %Y" }}
      == {% endfor %}
