== ---
title: Marc Ziani de Ferranti // Photos
layout: listing
permalink: photos/
== ---

%article.photos
  %section
    %ul.cols2
      == {% for album in site.categories.photos %}
      %li.one-half
        %a{ href: "{{ album.url }}" }
          %img{ src: "{{ album.thumbnail }}"}
          %span {{ album.title }}
        %nav
          %time {{ album.date | date: "%Y" }}
          == {% for tag in album.tags %}
          %span,
          %span {{ tag }}
          == {% endfor %}
      == {% endfor %}
