== ---
title: Marc Ziani de Ferranti // Photos
layout: listing
permalink: photos/
== ---

%article.albums
  %section
    %ul.grid
      == {% for album in site.categories.photos %}
      %li
        %a{ href: "{{ album.url }}" }
          %picture.pre
            %img.lzy{src:"data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-src": "{{ album.thumbnail }}"}
          %nav
            %p {{ album.title }}
            %p
              %time {{ album.date | date: "%Y" }}
              == {% for tag in album.tags %}
              %span,
              %span {{ tag }}
              == {% endfor %}
      == {% endfor %}

  %script{src: "/assets/js/imageloader.min.js", type: "text/javascript"}
