== ---
title: Marc Ziani de Ferranti // Photos
layout: listing
permalink: photos/
== ---

%article.photos
  %section
    %ul.cols2
      == {% for album in site.categories.photos %}
      %li.one-half
        %a{ href: "{{ album.url }}" }
          -# %img{ src: "{{ album.thumbnail }}"}
          %picture.intrinsic.intrinsic--photolisting
            %source{ media: "(min-width: 500px)", srcset: "large.jpg" }
            %img{ class: "b-lazy intrinsic-item",  src: "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-src": "{{ album.thumbnail }}", alt: ""}
          %span {{ album.title }}
        %nav
          %time {{ album.date | date: "%Y" }}
          == {% for tag in album.tags %}
          %span,
          %span {{ tag }}
          == {% endfor %}
      == {% endfor %}
