== ---
title: Marc Ziani de Ferranti // Photos
layout: listing
permalink: photos/
== ---

%article
  %section
    %ul
      == {% for album in site.categories.photos %}
      %li
        %time {{ album.date | date: "%b %Y" }}
        %a{ href: "{{ album.url }}" }
          %span {{ album.title }}
      == {% endfor %}
