== ---
title: Marc Ziani de Ferranti // Projects
layout: listing
permalink: projects/
== ---

%article.projects
  %section
    %ul.grid
      == {% for project in site.categories.projects %}
      %li
        %a{href:"{{ project.url }}"}
          %picture.pre
            %img{src:"{{ project.thumbnail }}"}
          %nav
            %p {{ project.title }}
        %p
          %time {{ project.date | date: "%Y" }}
      == {% endfor %}
