== ---
title: Marc Ziani de Ferranti // Projects
layout: listing
permalink: projects/
== ---

%article.projects
  %section
    %ul.cols2
      == {% for post in site.categories.projects %}
      %li.one-half
        %a{ href: "{{ post.url }}" }
          %img{ src: "{{ post.thumbnail }}"}
          %span {{ post.title }}
        %nav.info
          %span {{ post.subtitle }}
      == {% endfor %}
