== ---
title: Marc Ziani de Ferranti // Projects
layout: listing
permalink: projects/
== ---

%article.projects
  %section
    %ul
      == {% for project in site.categories.projects %}
      %li
        %a{href:"{{ project.url }}"}
          %span {{ project.title }}
          %nav
            %p
              %time {{ project.date | date: "%Y" }}
              == {% for tag in project.tags %}
              %span {{ tag }} &#x2F;
              == {% endfor %}
          %picture.pre
            %img{src:"{{ project.thumbnail }}"}
      == {% endfor %}
