%footer.footer
  %span
    Work and thoughts of Marc Ziani de Ferranti.
    %a{href: "https://github.com/mezdef/mezdef.github.io"} marcziani.com 
    is typeset in 
    %a{href: "https://typekit.com/fonts/freight-text-pro"} Freight Text Pro,
    %a{href: "https://typekit.com/fonts/freight-sans-pro"} Freight Sans Pro, 
    and built using
    %a{href: "http://jekyllrb.com/"} Jekyll.

  %nav
    %ul
      %li 
        %a{href: "mailto:mezdef@gmail.com"}
          %i.fa.fa-envelope
      %li 
        %a{href: "https://github.com/mezdef"}
          %i.fa.fa-github
      %li 
        %a{href: "http://twitter.com/#!/mezdef"}
          %i.fa.fa-twitter
