---
---
%footer.footer
  %section
    Work and thoughts of Marc Ziani de Ferranti.
    %a{href: "https://github.com/mezdef/mezdef.github.io"} marcziani.com
    is typeset in
    %a{href: "http://vllg.com/constellation/galaxie-copernicus"} Galaxie Copernicus,
    %a{href: "https://processtypefoundry.com/fonts/klavika/"} Klavika,
    and built using
    %a{href: "http://jekyllrb.com/"} Jekyll.

  %nav
    %ul
      %li
        %a{href: "mailto:mezdef@gmail.com"}
          %i.fa.fa-paper-plane
      %li
        %a{href: "https://github.com/mezdef"}
          %i.fa.fa-github
      %li
        %a{href: "http://twitter.com/#!/mezdef"}
          %i.fa.fa-twitter
      %li
        %a{href: "{{ site.url}}/feed.xml"}
          %i.fa.fa-rss
