%head
  %meta{charset: "utf-8"}
  %title Marc Ziani de Ferranti
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %meta{content: "", name: "description"}

  %script{:src => "//use.typekit.net/yzn0obs.js"}
  :javascript
    try{Typekit.load();}catch(e){}
  %script{src: "http://code.jquery.com/jquery-latest.min.js", type: "text/javascript"}
  -# %script{src: "/assets/javascripts/rhythm-images.js", type: "text/javascript"}
  -# %link{href: "http://basehold.it/16.5", rel: "stylesheet"}
  :javascript
    try{Typekit.load();}catch(e){}

  %link{href: "/assets/favicon.ico?v=2", :rel => "shortcut icon"}
  %link{href: "/assets/css/screen.css", rel: "stylesheet"}
  %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet"}
  / HTML5 shim, for IE6-8 support of HTML5 elements
  /[if lt IE 9]
    %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
