---
---
%head
  %meta{charset: "utf-8"}
  %title Marc Ziani de Ferranti
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %meta{content: "", name: "description"}
  %link{:href => "{{ site.url }}/feed.xml", :rel => "alternate", :title => "{{ site.name }}", :type => "application/rss+xml"}/

  -# %script{src: "http://code.jquery.com/jquery-latest.min.js", type: "text/javascript"}

  %link{href: "/assets/favicon.ico?v=2", :rel => "shortcut icon"}
  %link{href: "/assets/screen.css", rel: "stylesheet"}

  %script{src: "/assets/javascripts/fontfaceobserver.js", type: "text/javascript"}
  :javascript
    function timer(time) { return new Promise(function (resolve, reject) { setTimeout(reject, time); }); }
    var webfontLoader = function(font) { document.documentElement.classList.add('ff-' + font); };
    var serif = new FontFaceObserver('Galaxie Copernicus');
    var serifItalic = new FontFaceObserver('Galaxie Copernicus', { style: 'italic' });
    var sans = new FontFaceObserver('Klavika');
    var sansItalic = new FontFaceObserver('Klavika', { style: 'italic' });


    if (sessionStorage.ffSerif) {
    } else {
      document.documentElement.classList.remove('ff-serif');
      serif.load(null, 20000).then(function(){
        webfontLoader('serif');
        sessionStorage.ffSerif = true;
      }).catch(function(e){ sessionStorage.ffSerif = false; });
    }

    if (sessionStorage.ffSerifItalic) {
    } else {
      document.documentElement.classList.remove('ff-serif-italic');
      serifItalic.load(null, 20000).then(function(){
        webfontLoader('serif-italic');
        sessionStorage.ffSerifItalic = true;
      }).catch(function(e){ sessionStorage.ffSerifItalic = false; });
    }

    if (sessionStorage.ffSans) {
    } else {
      document.documentElement.classList.remove('ff-sans');
      sans.load(null, 20000).then(function(){
        webfontLoader('sans');
        sessionStorage.ffSans = true;
      }).catch(function(e){ sessionStorage.ffSans = false; });
    }

    if (sessionStorage.ffSansItalic) {
    } else {
      document.documentElement.classList.remove('ff-sans-italic');
      sansItalic.load(null, 20000).then(function(){
        webfontLoader('sans-italic');
        sessionStorage.ffSansItalic = true;
      }).catch(function(e){ sessionStorage.ffSansItalic = false; });
    }

  / HTML5 shim, for IE6-8 support of HTML5 elements
  /[if lt IE 9]
    %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
