%head
  %meta{charset: "utf-8"}
  %title Marc Ziani de Ferranti
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %meta{content: "", name: "description"}
  %link{:href => "{{ site.url }}/feed.xml", :rel => "alternate", :title => "{{ site.name }}", :type => "application/rss+xml"}/

  -# %script{src: "http://code.jquery.com/jquery-latest.min.js", type: "text/javascript"}

  %link{href: "/assets/favicon.ico?v=2", :rel => "shortcut icon"}
  %link{href: "/assets/screen.css", rel: "stylesheet"}
  -# %link{rel: "stylesheet", href: "/assets/screen.css", media: "none", onload: "if(media!='all')media='all'"}
  
  / HTML5 shim, for IE6-8 support of HTML5 elements
  /[if lt IE 9]
    %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
