ol, ul, hr {
  margin: 0;
  padding: 0;

  section > & {
    .layout;
  }
}

ul {
  list-style: none;
}

ol {
  margin-bottom: @size-base;
  list-style-type: none;
  li {
    counter-increment: step-counter;
    margin-bottom: (@size-base/3);
    &:before {
      position: absolute;
      left: -(@size-base/2);
      .font-family(sans);
      .font-size(small);
      content: counter(step-counter);
    }
  }
}

li {
  position: relative;
  code {
    display: inline-block;
    margin: 0 0 5px 0;
    padding: 3px 6px;
    color: fade(@color-charcoal, 100%);
    background-color: fade(@color-feather, 100%);
    border: 1px solid fade(@color-silver, 100%);
    .border-radius(2px);
  }
}
