/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p327@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p327@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p327@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p327@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p327@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p327@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p327@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p327@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p327@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, _sass/_typography.sass */
body {
  font-family: "FreightTextBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
  line-height: 35px;
  color: #222222;
}

/* line 11, _sass/_typography.sass */
p {
  margin: 0 0 35px 0;
}

/* line 16, _sass/_typography.sass */
em {
  font-style: italic;
}

/* line 19, _sass/_typography.sass */
ul {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

/* line 26, _sass/_typography.sass */
li code {
  color: black;
}

/* line 29, _sass/_typography.sass */
a {
  text-decoration: none;
  color: #ff0033;
}
/* line 32, _sass/_typography.sass */
a:hover {
  color: #ff0033;
  text-decoration: underline;
}

/* line 39, _sass/_typography.sass */
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #444444;
}

/* line 44, _sass/_typography.sass */
h1 {
  font-size: 32px;
  line-height: 45px;
}

/* line 47, _sass/_typography.sass */
h2 {
  margin: 36px 0 16px 0;
  font-size: 27px;
  line-height: 32px;
}

/* line 54, _sass/_typography.sass */
time {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

/* line 61, _sass/_typography.sass */
blockquote {
  padding: 0 20px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #043e50;
  border-left: 1px solid #cccccc;
}

/* line 70, _sass/_typography.sass */
header.banner {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
  text-align: center;
}
/* line 77, _sass/_typography.sass */
header.banner a.brand {
  color: #444444;
}

/* line 82, _sass/_typography.sass */
article header {
  text-align: center;
}
/* line 84, _sass/_typography.sass */
article header h1 {
  font-size: 40px;
  line-height: 66px;
}
/* line 87, _sass/_typography.sass */
article header h2 {
  font-family: "FreightTextMediumItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  color: #999999;
}
/* line 93, _sass/_typography.sass */
article header time span {
  font-size: 14px;
  line-height: 21px;
}
/* line 98, _sass/_typography.sass */
article figure figcaption {
  font-family: "FreightTextMediumItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01rem;
}

/* line 104, _sass/_typography.sass */
footer {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #999999;
}

/* line 6, _sass/_layout.sass */
html {
  height: 100%;
  width: 100%;
}

/* line 10, _sass/_layout.sass */
body {
  position: relative;
  margin: 60px auto 0 auto;
  width: 1100px;
}

/* line 15, _sass/_layout.sass */
main {
  width: 660px;
  padding: 0 0 0 220px;
}

/* line 19, _sass/_layout.sass */
figure {
  position: relative;
  margin: 0 0 20px 0;
}
/* line 23, _sass/_layout.sass */
figure img {
  width: 660px;
}

/* line 28, _sass/_layout.sass */
li {
  position: relative;
}
/* line 30, _sass/_layout.sass */
li code {
  margin: 0 0 5px 0;
  padding: 3px 6px;
  display: inline-block;
  background: #f9f9f9;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 42, _sass/_layout.sass */
header.banner {
  display: none;
  margin: 0 0 40px 0;
}
/* line 45, _sass/_layout.sass */
header.banner img {
  display: none;
}
/* line 47, _sass/_layout.sass */
header.banner a.brand {
  display: block;
}
/* line 50, _sass/_layout.sass */
header.banner nav li {
  display: inline-block;
}

/* line 82, _sass/_layout.sass */
header .social a {
  margin: 0 10px 0 0;
  padding: 5px 5px 5px 0;
  font-size: 20px;
  color: #999999;
}
/* line 87, _sass/_layout.sass */
header .social a:hover {
  text-decoration: none;
  color: #ff0033;
}

/* line 94, _sass/_layout.sass */
section.listing {
  padding: 0 0 40px 0;
}
/* line 96, _sass/_layout.sass */
section.listing article {
  padding: 0;
}
/* line 98, _sass/_layout.sass */
section.listing article time {
  float: right;
}

/* line 115, _sass/_layout.sass */
footer {
  padding: 20px 0 40px 0;
  display: block;
  border-top: 1px dotted #666666;
  font-size: 14px;
  line-height: 24px;
}

/* line 125, _sass/_layout.sass */
article {
  padding: 0px 0 30px 0;
}
/* line 127, _sass/_layout.sass */
article header {
  margin: 0 0 40px 0;
}
/* line 130, _sass/_layout.sass */
article header time {
  display: block;
  margin: 0 auto 15px auto;
  width: 60%;
  border-bottom: 1px dotted #666666;
}
/* line 135, _sass/_layout.sass */
article header time span {
  display: table;
  margin: 0 auto -10px auto;
  padding: 0 20px;
  background: white;
}
/* line 140, _sass/_layout.sass */
article header h2 {
  margin: 10px 0 0 0;
}
/* line 142, _sass/_layout.sass */
article .content > p:first-child, article .content > figure:first-child {
  font-weight: 500;
  font-size: 21px;
  color: #444444;
}
/* line 147, _sass/_layout.sass */
article .content h2 {
  display: block;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0px;
}
/* line 155, _sass/_layout.sass */
article .content h2 span {
  display: table;
  margin: 0 auto -15px auto;
  padding: 0 20px;
  background: white;
}
/* line 160, _sass/_layout.sass */
article section {
  margin: 0 0 10px 0;
}

/* line 164, _sass/_layout.sass */
figure figcaption {
  position: absolute;
  display: block;
  top: 0;
  right: -170px;
  width: 150px;
}
/* line 170, _sass/_layout.sass */
figure figcaption:before, figure figcaption:after {
  display: block;
  content: "";
  width: 25%;
  border-top: 1px dotted #666666;
}
/* line 175, _sass/_layout.sass */
figure figcaption:before {
  margin-bottom: 10px;
}
/* line 177, _sass/_layout.sass */
figure figcaption:after {
  margin-top: 10px;
}

@media screen and (max-width: 1280px) {
  /* line 12, _sass/_responsive.sass */
  body {
    margin: 20px auto 0 auto;
    width: 720px;
  }

  /* line 15, _sass/_responsive.sass */
  header.banner {
    display: block;
  }

  /* line 17, _sass/_responsive.sass */
  aside.aside {
    display: none;
  }

  /* line 19, _sass/_responsive.sass */
  main {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 23, _sass/_responsive.sass */
  body {
    margin: 20px 0 20px auto;
    width: 870px;
  }
  /* line 26, _sass/_responsive.sass */
  body header.banner {
    width: 720px;
  }
  /* line 28, _sass/_responsive.sass */
  body main {
    margin: 0;
    padding: 0 180px 0 30px;
  }
}
@media only screen and (max-width: 870px) {
  /* line 33, _sass/_responsive.sass */
  body {
    margin: 20px auto;
    width: 720px;
  }
  /* line 36, _sass/_responsive.sass */
  body main {
    padding: 0 30px;
  }

  /* line 39, _sass/_responsive.sass */
  figure figcaption {
    position: relative;
    right: 0;
    width: 100%;
  }
  /* line 44, _sass/_responsive.sass */
  figure figcaption:after {
    display: none;
  }
}
