body > header
  display: block
  padding: 33px 40px 66px 40px
  +font-sans--block
  +font-size--s

  nav
    +clearfix

  ul
    +float-right
    vertical-align: top
    li
      display: inline
    a
      &.active
        text-decoration: underline

  a
    +inline-block
    +font-leading--m
    text-decoration: none
    &:hover
      text-decoration: underline

    &.brand
      float: left
      +font-size--m
      font-style: italic
      .logo
        display: block
        float: left
        margin: 0 10px 0 0
        width: 30px
        height: 30px
        background-image: url('/assets/img/icon_mezdef.png')
        background-size: 100%
      &:hover
        text-decoration: none
        span.logo
          background-image: url('/assets/img/icon_mezdef_red.png')
          +transition(background-image 0.1s linear)
