// COLOURS //////////////////////////////////////////////////////////////////

// $color-link: #FF0033
// $color-link: #2455c3
// $color-link: #2A363B
$color-base: #2A363B
// $color-midlayer: #999
$color-midlayer: #C6C7C9
$color-lowlight: #19DD89
$color-crunch: #111

$color-white: #FFFFFF

$color-grey--light: #EBEBEB

$color-grey-neutral: #A1A1A1

$color-grey--dark: #555555

$color-red: rgba(252, 90, 90, 1)
