.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -10px 0 0 -10px;

  li {
    padding: 10px 0 0 10px;
    width: 100%;

    @media screen and (min-width: 420px) { width: 50%; }
    @media screen and (min-width: 630px) { width: calc(100% / 3); }

    img { display: block; }
  }
}
