
img {
  max-width: 100%;
  border: 0; // Remove border when inside `a` element in IE 8/9/10.
}

.intrinsic {
  // Add as many ratios as you'd like...
  &.intrinsic--square { padding-top: 100%; }
  &.intrinsic--4x3 { padding-top: 75%; }
  &.intrinsic--16x9 { padding-top: 56.25%; }
  // 213/320
  &.intrinsic--photolisting { padding-top: 66.56%; }
}


picture {
  &.pre {
    width: 100%;
    background-image: url(/assets/img/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #F6F6F6;
    background-size: 34px;

    .photos & {
      min-height: 51vw;
      @media only screen and (min-width: 630px) { min-height: auto; max-height: 603px; }
      // max-width: 1444px;
      // @media screen and (min-width: 1200px) { min-height: 643px; }
    }
    .listing & {
      min-height: 28vw;
      @media only screen and (min-width: 630px) { min-height: 120px; }
    }
  }
}

img.lzy {
  opacity: 0;
	transition: opacity 0.3s;
  &.lded {
  	opacity: 1;
  }
}
