// @import "compass/css3"

body {
  .font-family(serif);
  .font-size(small);
  .font-leading(small);
  color: fade(@color-charcoal, 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media @tablet {
    .font-size(base);
    .font-leading(base);
  }
}

p {
  margin-top: 0;
  margin-bottom: @size-base;
}

// b
// strong
// i

em {
  font-style: italic;
}


// MISC ////////////////////////////////////////////////////////////////////////

time {
  display: inline-block;
  .font.sans();
  color: fade(@color-silver, 100%);
  .font-size(tiny);
  text-transform: uppercase;
  letter-spacing: 1px;
}

hr {
  text-align: center;
  border: 0px solid fade(@color-white, 100%);
  &:before {
    display: block;
    content: "* * *";
    padding: @size-base 0;
    height: (@size-base*3);
    .font-family(sans);
    .font-size(large);
    .font-leading(large);
    color: fade(@color-silver, 100%);
  }
}


// SELECTION ///////////////////////////////////////////////////////////////////

::-moz-selection {
  color: fade(@color-white, 100%);
  background-color: fade(@color-blue, 100%);
  text-shadow: none;
}

::selection {
  color: fade(@color-white, 100%);
  background-color: fade(@color-blue, 100%);
  text-shadow: none;
}


// 404 /////////////////////////////////////////////////////////////////////////

section.error {
  h1 {
    .font.sans();
    position: relative;
    margin: 0 auto;
    width: @size-width--l;
    .font-size(@size-base*6);
    .font-leading(@size-base*7);
    font-weight: 700;
    font-style: italic;
    .animation("glitch", 'text', 1, 10, 3s, 15, fade(@color-obsidian, 100%), fade(@color-white, 100%), fade(@color-obsidian, 100%), fade(@color-white, 100%), 630, 210, 0, 0);

    span {
      text-decoration: underline;
    }
  }

  h2 {
    color: fade(@color-white, 100%);
    text-align: center;
  }
}
