// COLOURS /////////////////////////////////////////////////////////////////////

@color-grey--0: rgba(255, 255, 255, 0);
@color-grey--w: #FFFFFF;

@color-grey--l: #EBEBEB;

@color-grey--m: #CECECE;
@color-grey--mm: #999999;
@color-grey--mmm: #666666;

@color-grey--d: #7C7C7C;
@color-grey--dd: #262626;
@color-grey--ddd: #111111;

@color-red--m: #FC5A5A;

@color-blue--l: #99ffff;
@color-blue--d: #0242FF;


// TYPOGRAPHY //////////////////////////////////////////////////////////////////

@font-serif: 'Galaxie Copernicus', 'adobe-garamond-pro', Georgia, serif;
@font-sans: 'Klavika', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-mono: Menlo, monospace;

@font-serif-fallback: Georgia, serif;
@font-sans-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Modular Scale 22px @ 1:1.333
// http://modularscale.com/scale/?px1=22&px2=&ra1=1.333&ra2=0

@font-size--sss: 10px;
@font-size--ss: 12px;
@font-size--s: 14px;
@font-size--m: 16px;
@font-size--mm: 18px;
@font-size--l: 21px;
@font-size--ll: 28px;
@font-size--lll: 38px;

@font-leading--0: 0;
@font-leading--ssss: 14px;
@font-leading--sss: 18px;
@font-leading--ss: 22px;
@font-leading--s: 26px;
@font-leading--m: 30px;
@font-leading--mm: 34px;
@font-leading--l: 37.5px;
@font-leading--ll: 44px;

@border-structural: 1px solid @color-grey--l;
@border-arrested: 1px solid @color-grey--d;
