// COLOURS //////////////////////////////////////////////////////////////////

@color-white: #FFFFFF;

@color-grey--l: #EBEBEB;

@color-grey--m: #CCCCCC;
@color-grey--mm: #999999;
@color-grey--mmm: #666666;

@color-grey--d: #495D66;
@color-grey--dd: #262626;
@color-grey--ddd: #111111;

@color-red: #FC5A5A;

@color-blue: #2051C9;


// TYPOGRAPHY //////////////////////////////////////////////////////////////////

@font-serif: 'Galaxie Copernicus', 'adobe-garamond-pro', Georgia, serif;
@font-sans: 'Klavika', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-mono: 'inconsolata', Helvetica, Arial, sans-serif;

// Modular Scale 22px @ 1:1.333
// http://modularscale.com/scale/?px1=22&px2=&ra1=1.333&ra2=0

@font-size--sss: 10px;
@font-size--ss: 12px;
@font-size--s: 14px;
@font-size--m: 16px;
@font-size--l: 21px;
@font-size--ll: 28px;
@font-size--lll: 38px;

@font-leading--0: 0;
@font-leading--ssss: 14px;
@font-leading--sss: 18px;
@font-leading--ss: 22px;
@font-leading--s: 26px;
@font-leading--m: 30px;
@font-leading--l: 37.5px;
@font-leading--ll: 66px;

@border-structural: 1px solid @color-grey--l;
@border-arrested: 1px solid @color-grey--d;
