$border-structural: 1px solid $color-grey--light
$border-arrested: 1px solid $color-lowlight


@mixin margin-bottom--m
  margin-bottom: $font-leading--m

@mixin font-size--sss
  font-size: $font-size--sss
@mixin font-size--ss
  font-size: $font-size--ss
@mixin font-size--s
  font-size: $font-size--s
@mixin font-size--m
  font-size: $font-size--m
@mixin font-size--l
  font-size: $font-size--l
@mixin font-size--ll
  font-size: $font-size--ll

@mixin font-leading--ss
  line-height: $font-leading--ss
@mixin font-leading--s
  line-height: $font-leading--s
@mixin font-leading--m
  line-height: $font-leading--m
@mixin font-leading--l
  line-height: $font-leading--l
@mixin font-leading--ll
  line-height: $font-leading--ll
