// @import "compass/typography"
@import "compass/css3"
// @import "variables"

body
  font-family: $font-serif
  font-size: $font-size--m
  line-height: $font-leading--m
  color: $color-grey--dd
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

p
  +margin-bottom--m
b
strong
i
em
  font-style: italic

ul
  list-style:none
  margin: 0
  -webkit-margin-before: 0
  -webkit-padding-start: 0

ol
  list-style: decimal

li
  position: relative
  code
    margin: 0 0 5px 0
    padding: 3px 6px
    display: inline-block
    background: #F9F9F9
    border: 1px solid #CCC
    -webkit-border-radius: 2px
    moz-border-radius: 2px
    border-radius: 2px
    color: #000

a
  color: $color-crunch
  text-decoration: underline
  transition: .1s color linear
  &:hover
    color: $color-red !important
    text-decoration: underline

sup, sub
  position: relative
  padding-left: 4px
  top: -0.4em
  +font-sans
  +font-size--s
  +font-leading--sss
  font-weight: 500
  vertical-align: baseline
  a
    color: $color-grey--dd
    text-decoration: none

figure
  // min-height: 297px
  line-height: 0

time
  font-family: $font-sans
  text-transform: uppercase
  color: $color-grey--m

blockquote
  position: relative
  +margin-bottom--m
  color: $color-grey--mm
  font-style: italic
  &:hover
    p, cite
      color: $color-grey--dd
      a
        color: $color-grey--ddd
  cite
    // position: absolute
    display: block
    bottom: 0
    +font-sans
    color: $color-grey--mm
    font-size: $font-size--s
    line-height: 1.3
    text-align: right
    a
      color: $color-grey--mmm
  em
  p
    margin-left: -20px
    margin-bottom: 0
    padding: 0 0 0 20px
    font-weight: 500
    border-left: $border-structural
    &:last-of-type
      border-left: none
      +margin-bottom--m

// HEADINGS ////////////////////////////////////////////////////////

h1, h2, h3, h4, h5
  // font-family: $font-sans
  // font-weight: 600
  // color: $color-highlight
  // color: $color-crunch
  text-align: center
  font-style: italic

h1
  +font-size--ll
  +font-leading--ll
h2
  padding: 0 0 16px 0
  +font-size--l
  +font-leading--l


hr
  margin: 0 auto
  padding: 30px 0 60px 0
  height: 16px
  width: 35%
  line-height: 1px
  text-align: center
  border: 0px solid $color-white
  &:before
    +clearfix
    +inline-block
    content: "* * *"
    padding: 0 10px
    height: 16px
    width: auto
    color: $color-grey--dd
    +font-sans
    +font-size--l
    +font-leading--l
    background: $color-white


// SELECTION ///////////////////////////////////////////////////////

::-moz-selection
  background: $color-red
  color: white
  text-shadow: none

::selection
  background: $color-red
  color: white
  text-shadow: none




// 404 /////////////////////////////////////////////////////////////

section.error
  h1
    @include font-sans
    color: #FFF
    font-size: 219.318px
    line-height: 132px
    font-weight: 700
    font-style: italic
    text-align: center
    span
      text-decoration: underline
  h2
    color: #FFF
    text-align: center
