// @import "compass/typography"
@import "compass/css3"
// @import "variables"

body
  font-family: $font-serif
  font-size: $font-size--m
  line-height: $font-leading--m
  color: $color-grey--dd
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

p
  +margin-bottom--m
b
strong
i
em
  font-style: italic

ul
  list-style:none
  margin: 0
  -webkit-margin-before: 0
  -webkit-padding-start: 0

ol
  list-style: decimal

li
  position: relative
  code
    margin: 0 0 5px 0
    padding: 3px 6px
    display: inline-block
    background: #F9F9F9
    border: 1px solid #CCC
    -webkit-border-radius: 2px
    moz-border-radius: 2px
    border-radius: 2px
    color: #000

a
  color: $color-crunch
  text-decoration: underline
  transition: .1s color linear
  &:hover
    color: $color-red !important
    text-decoration: underline

sup, sub
  padding-left: 2px
  @include font-sans
  font-size: $font-size--ss
  line-height: 16.5px
  vertical-align: baseline
  position: relative
  top: -0.4em
  a
    color: $color-crunch

figure
  // min-height: 297px
  line-height: 0

time
  font-family: $font-sans
  text-transform: uppercase
  color: $color-grey--m

blockquote
  // font-size: $font-size--m
  // line-height: $font-lineheight-base
  // font-weight: 500
  +margin-bottom--m
  color: $color-grey--mm
  font-style: italic
  &:hover
    color: $color-grey--dd

  em
  p
    margin-left: -20px
    padding: 0 0 0 20px
    font-weight: 500
    border-left: $border-structural

// HEADINGS ////////////////////////////////////////////////////////

h1, h2, h3, h4, h5
  // font-family: $font-sans
  // font-weight: 600
  // color: $color-highlight
  // color: $color-crunch
  text-align: center
  font-style: italic

h1
  +font-size--ll
  +font-leading--ll
h2
  padding: 0 0 16px 0
  +font-size--l
  +font-leading--l


hr
  margin: 0 auto
  padding: 30px 0 60px 0
  height: 16px
  width: 35%
  line-height: 1px
  text-align: center
  border: 0px solid $color-white
  &:before
    +clearfix
    +inline-block
    content: "~"
    padding: 0 10px
    height: 16px
    width: 40px
    +font-serif
    color: $color-grey--m
    font-size: 64px
    line-height: 20px
    background: $color-white
  &:after
    display: block
    content: ""
    margin-top: -8px
    border-top: 1px solid $color-grey--l
    // height: 15px
    // width: 15px
    // transform: rotate(90deg)
    // border: 1px solid $color-grey--l

// SELECTION ///////////////////////////////////////////////////////

::-moz-selection
  background: $color-red
  color: white
  text-shadow: none

::selection
  background: $color-red
  color: white
  text-shadow: none




// 404 /////////////////////////////////////////////////////////////

section.error
  h1
    @include font-sans
    color: #FFF
    font-size: 219.318px
    line-height: 132px
    font-weight: 700
    font-style: italic
    text-align: center
    span
      text-decoration: underline
  h2
    color: #FFF
    text-align: center
