@import "compass/css3"

body
  +font-serif
  +font-size--m
  +font-leading--m
  +font-color($color-grey--dd)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

p
  +margin-bottom--m
// b
// strong
// i
em
  font-style: italic

ul
  list-style: none
  margin: 0
  -webkit-margin-before: 0
  -webkit-padding-start: 0

ol
  list-style: decimal

li
  position: relative
  code
    display: inline-block
    margin: 0 0 5px 0
    padding: 3px 6px
    +font-color($color-grey--dd)
    +background-color($color-grey--l)
    border: 1px solid #CCC
    +border-radius(2px)

a
  +font-color($color-grey--ddd)
  text-decoration: underline
  +transition(color, 0.1s, linear)
  &:hover
    color: $color-red !important
    text-decoration: underline

sup, sub
  position: relative
  padding-left: 4px
  top: -0.4em
  +font-sans
  +font-size--s
  +font-leading--sss
  font-weight: 500
  vertical-align: baseline
  a
    +font-color($color-grey--ddd)
    text-decoration: none


figure
  position: relative
  margin: 0 0 33px 0
  +font-leading--none
  text-align: center

  &:hover
    figcaption
      +font-color($color-grey--d)
      +transition(color, 0.1s, linear)

  img
    height: auto
    width: auto
    max-width: 100%

  figcaption
    display: block
    position: relative
    top: 0
    right: 0
    width: 100%
    +font-sans
    +font-size--s
    line-height: 33px
    +font-color($color-grey--mm)
    text-align: left
    &:before, &:after
      display: block
      content: ""
      width: 25%
      border-top: $border-structural
    &:before
      margin-bottom: -1px
    &:after
      display: none
      margin-top: 8.25px

time
  +font-sans--block
  +font-color($color-grey--m)

blockquote
  position: relative
  +margin-bottom--m
  +font-color($color-grey--mm)
  font-style: italic
  &:hover
    p, cite
      +font-color($color-grey--dd)
      a
        +font-color($color-grey--ddd)
  cite
    display: block
    bottom: 0
    +font-sans
    +font-size--s
    +font-color($color-grey--mm)
    +font-leading(1.3)
    text-align: right
    a
      +font-color($color-grey--mmm)
  // em
  p
    margin-left: -20px
    margin-bottom: 0
    padding: 0 0 0 20px
    font-weight: bold
    border-left: $border-structural
    &:last-of-type
      border-left: none
      +margin-bottom--m

// HEADINGS ////////////////////////////////////////////////////////

h1, h2, h3, h4, h5
  text-align: center
  font-style: italic

h1
  +font-size--ll
  +font-leading--ll
h2
  padding: 0 0 16px 0
  +font-size--l
  +font-leading--l


hr
  margin: 0 auto 15px auto
  padding: 30px 0 60px 0
  height: 16px
  width: 35%
  +font-leading(1px)
  text-align: center
  border: 0px solid $color-white
  &:before
    +clearfix
    +inline-block
    content: "* * *"
    padding: 0 10px
    height: 16px
    width: auto
    +font-sans
    +font-size--l
    +font-leading--l
    +font-color($color-grey--dd)
    +background-color($color-white)


// SELECTION ///////////////////////////////////////////////////////

::-moz-selection
  +background-color($color-red)
  +font-color($color-white)
  text-shadow: none

::selection
  +background-color($color-red)
  +font-color($color-white)
  text-shadow: none




// 404 /////////////////////////////////////////////////////////////

section.error
  h1
    +font-sans
    color: #FFF
    font-size: 219.318px
    line-height: 132px
    font-weight: 700
    font-style: italic
    text-align: center
    span
      text-decoration: underline
  h2
    color: #FFF
    text-align: center
