.album
  main
  footer
  article
    margin: 0
    padding: 0
    width: 100%
  section
    // position: absolute
    >p
      &:last-of-type
        margin: 0 0 120px 0
        &:after
          // position: absolute
          content: ""
          display: block
          margin: 60px auto 0 auto
          width: 10px
          height: 10px
          left: 50%
          border: 1px solid $color-red
          // background: $color-red
          -webkit-border-radius: 40px
          moz-border-radius: 40px
          border-radius: 40px

  figure
    margin: 0 auto 120px auto
    padding: 0 30px
    max-width: 1444px
    &:hover
      figcaption
        // opacity: 1
        color: $color-grey--mmm
    img
      &:before
        content: attr(data-alt)



    figcaption
      // width: auto
      // top: auto
      // bottom: 0
      // left: 0
      // right: 0
      // background-color: $color-grey--ddd
      // opacity: 0
      color: $color-grey--m
      font-size: $font-size--ss
      p
        display: inline-block
        margin-bottom: 0
      label
        display: inline-block
        width: 110px
        text-transform: uppercase

      &.exif
        width: 180px
        right: 30px


      &.description
        margin: 0 auto
        padding: 0 240px
        width: 100%
        max-width: 1444px
        height: 30px
        bottom: -60px
        top: auto
        left: 0
        right: auto
        text-align: right
        font-style: italic
        text-transform: uppercase
        &:before, &:after
          display: none
