// LISTING /////////////////////////////////////////////////////////

article.listing
  margin: 0 0 66px 0
  section
    margin: 0
    padding: 0
    li
      padding: 0 0 11px 0
    a
      // +inline-block
      // width: 75%
      color: $color-crunch
      text-decoration: none
      &:hover
        // color: $color-red
        // text-decoration: underline
    time
      float: right
      font-size: $font-size-xs
      +font-leading--m
