.listing
  margin: 0 0 66px 0
  +font-leading--m
  section
    margin: 0
    padding: 0
    li
      display: block
      +margin-bottom--m
    a
      // +inline-block
      // width: 75%
      color: $color-crunch
      text-decoration: none
      &:hover
        // color: $color-red
        text-decoration: underline
    time
      float: right
      font-size: $font-size--s

  &.projects
    ul
      +clearfix
    li
      float: left
      display: block
      padding: 0 30px 0 0
      width: 50%
      &:nth-child(even)
        padding: 0
      a
        position: relative
        display: block
        line-height: 0
        text-align: center
        // border: 1px solid $color-grey--l
        +background-color($color-grey--l)
        &:hover
          text-decoration: none
          // border: 1px solid $color-grey--l
          -webkit-transition: border-color 0.1s linear
          -moz-transition: border-color 0.1s linear
          -ms-transition: border-color 0.1s linear
          -o-transition: border-color 0.1s linear
          transition: border-color 0.1s linear

          .about
            // +background-color($color-grey--m, 0.75)
          img
            opacity: 0.15

        .about
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0

          span
            +font-leading--m
          h2
            text-transform: uppercase
            font-style: normal
            color: $color-grey--mm
            +font-sans
            +font-size--ss
            +font-leading--s
            font-weight: 400
            letter-spacing: 1px

      img
        width: 100%
