article.post
  position: relative
  section
    >p
      &:last-of-type
        margin: 0
        padding: 0 0 120px 0
        &:after
          // position: absolute
          content: ""
          display: block
          margin: 60px auto 0 auto
          width: 10px
          height: 10px
          left: 50%
          border: 1px solid $color-red
          +border-radius(40px)
    // img
      // width: 100%

  .footnotes
    margin: 0 0 60px 0
    padding: 30px 0 0 0
    border-top: $border-structural
    ol
      list-style-type: none
    li[id*='fn:']
      position: relative
      padding: 0 0 0 20px
      +font-size--ss
      +font-leading--ss
      counter-increment: step-counter
      &:before
        position: absolute
        left: 0
        content: counter(step-counter)
        margin-right: 5px
        +font-sans
        +font-size--s
        +font-leading--ssss
        font-weight: 500
      a:last-of-type
        padding: 0 0 0 6px
        +font-color($color-red)
        +font-size--ss
        +font-leading--sss
        text-decoration: none
