---
---
!!!
%html{lang: "en"}
  {% haml head.haml %}
  %body.photos
    {% haml header.haml %}
    %main
      %article
        %header
          %h1 {{ page.title }}
          %p {{ page.subtitle }}
          %time
            %span
              {{ page.date | date: '%d' }}
            %span
              {{ page.date | date: '%B' }}
            %span
              {{ page.date | date: '%Y' }}
        %section
          {{ content | stripem }}
          {% if page.photoset %}
          {% for photo in page.photos %}
          {% assign photo-num = forloop.index %}
          {% for story in page.stories %}
          {% if story.id == photo-num %}
          %p {{ story.para }}
          {% endif %}
          {% endfor %}
          %figure
            %img{:alt => "{{ photo.description }}", :src => "{{ photo.urlFullSize }}"}/
            %figcaption.exif
              %p
                %label F. Length
                {{ photo.focalLength }}
              %p
                %label S. Speed
                {{ photo.shutterSpeed }} s
              %p
                %label Aperture
                ƒ/{{ photo.aperture }}
              %p
                %label ISO
                {{ photo.iso }}
              %p
                %label Taken
                {{ photo.creationDate | date: "%b %Y" }}
            {% if photo.description != '' %}
            %figcaption.description
              {{ photo.description }}
            {% endif %}
          {% endfor %}
          {% endif %}


      {% haml footer.haml %}
