---
---
!!!
%html{lang: "en"}
  {% haml head.haml %}
  %body.post
    {% haml header.haml %}
    %main
      %article
        %header
          %h1 {{ page.title }}
          %p {{ page.subtitle }}
          %time
            %span
              {{ page.date | date: '%d' }}
            %span
              {{ page.date | date: '%B' }}
            %span
              {{ page.date | date: '%Y' }}
        %section
          {{ content | stripem }}

      {% haml footer.haml %}

  %script{src: "/assets/javascripts/footnotes.js", type: "text/javascript", async: ""}
