!!!
%html{lang: "en"}
  {% haml head.haml %}
  %body
    {% haml header.haml %}
    %main.post
      %article
        %header
          %h1 {{ page.title }}
          %h2 {{ page.subtitle }}
          %time
            {{ page.date | date_to_long_string }}
        %section
          {{ content | stripem }}

      {% haml footer.haml %}
