---
---
!!!
%html{lang: "en"}
  {% haml head.haml %}
  %body.post
    {% haml header.haml %}
    %main
      %article.writing
        %header
          %time
            -# %span
              -# {{ page.date | date: '%d' }}
            %span
              {{ page.date | date: '%B' }}
            %span
              {{ page.date | date: '%Y' }}
          %h1
            %span {{ page.title }}
          %p {{ page.subtitle }}
        %section
          {{ content | headline | figure | gallery | details }}

      {% haml footer.haml %}

  %script{src: "/assets/js/imageloader.min.js", type: "text/javascript"}
  %script{src: "/assets/js/footnotes.min.js", type: "text/javascript", async: ""}
