!!!
%html{lang: "en"}
  {% haml head.haml %}
  %body.post
    {% haml header.haml %}
    %main
      %article.post
        %header
          %h1 {{ page.title }}
          %h2 {{ page.subtitle }}
          %time
            %span
              {{ page.date | date: '%d' }}
            %span
              {{ page.date | date: '%B' }}
            %span
              {{ page.date | date: '%Y' }}
        %section
          {{ content | stripem }}

      {% haml footer.haml %}
