---
---
!!!
%html{lang: "en"}
  {% haml head.haml %}
  %body
    {% haml header.haml %}
    %main
      %article.projects
        %header
          %h1 {{ page.title }}
          %h2 {{ page.subtitle }}
          %time
            %span
              {{ page.date | date: '%d' }}
            %span
              {{ page.date | date: '%B' }}
            %span
              {{ page.date | date: '%Y' }}
        %section
          {{ content | stripem | gallery }}

      {% haml footer.haml %}

  %script{src: "/assets/js/imageloader.min.js", type: "text/javascript"}
  %script{src: "/assets/js/gallery.min.js", type: "text/javascript"}
