.about {
  p {
    &:first-of-type, &.smiley {
      .font-family(sans);
      .font-size(l);
      .font-leading(mm);
    }
  }
  .profile {
    padding-top: (@size-base*2);
    img {
      width: (@size-base*5);
      height: (@size-base*5);
      border-radius: 50%;
      filter: grayscale(100%);
    }
  }
  .smiley {
    span {
      color: fade(@color-blue, 100%);
    }
    svg {
      margin: 0 0 -4px -8px;
      animation: blink 12s infinite;
      path {
        stroke: fade(@color-blue, 100%);
      }
    }
    &:hover {
      background-color: transparent;
      svg {
        path {
        }
      }
    }
  }
}

@keyframes blink {
  98% {
    transform: none;
    animation-timing-function: ease-in;
  }
  99% {
    transform: translateY(10px) scaleY(0);
  }
  100% {
    animation-timing-function: ease-out;
  }
}
