.listing {
  article {

    &.albums, &.projects {
      li {
        > a { display: block; }
      }
    }

    &.writing {
      @media screen and (min-width: 630px) { .font-size(m); }

      section {
        padding-top: 30px;
      }

      li {
        display: block;
        margin-bottom: 15px;
      }

      a {
        display: inline-block;
        .font-size(s);
        hyphens: none;
        max-width: 100%;
        .truncate();
        @media screen and (min-width: 630px) { max-width: 460px; }
      }

      time {
        display: block;
        @media screen and (min-width: 630px) { float: right; }
      }
    }

    &.albums, &.projects {
      .font.sans();

      section { padding: 0 30px 60px 30px; }
      img { max-width: 100%; }

      li {
        margin-bottom: 5px;

        >a {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          .font-size(ss);
          .font-leading(sss);
          border-width: 0;

          &:hover {
            background-color: @color-grey--0;
            p:first-of-type { .a > .hover(); }
          }
        }
      }

      picture, nav {
        @media screen and (max-width: 419px) { width: 50%; }
      }

      picture {
        @media screen and (min-width: 420px) { margin-bottom: 5px; }
      }

      nav {
        color: @color-grey--m;
        .truncate();
        vertical-align: top;

        @media screen and (max-width: 419px) { padding-left: 10px; }
      }

      p, span {
        margin: 0;
      }

      p {
        max-width: 100%;
        .truncate();

        &:first-of-type {
          .a();
          display: inline;
        }
      }
    }

    &.projects {
      p {
        width: 100%;
      }
    }

  }
}
