.listing {
  article {

    &.writing, &.albums, &.projects {
      li {
        > a { display: block; }
      }
    }

    &.writing {
      .font-leading(m);
      @media screen and (min-width: 630px) { .font-size(m); }

      section {
        padding-top: 30px;
      }

      li {
        display: block;
        margin-bottom: 30px;
      }

      a {
        max-width: 80%;
        .truncate();
        .font-size(s);
        text-align: left;
        text-decoration: none;
      }

      time {
      }

    }

    &.albums, &.projects {
      .font.sans();

      section { padding: 0 30px 60px 30px; }
      img { max-width: 100%; }

      li {
        margin-bottom: 5px;

        >a {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          .font-size(ss);
          .font-leading(sss);
          border-width: 0;

          &:hover {
            background-color: @color-grey--0;
            p:first-of-type { .a > .hover(); }
          }
        }
      }

      picture {
        @media screen and (min-width: 420px) { margin-bottom: 5px; }
      }

      p, span {
        margin: 0;
      }

      p {
        max-width: 100%;
        .truncate();

        &:first-of-type {
          .a();
          display: inline;
        }
      }

      picture, nav {
        @media screen and (max-width: 419px) {
          padding-left: 10px;
          width: 50%;
        }
      }

      nav {
        color: @color-grey--m;
        .truncate();
        vertical-align: top;
      }
    }

    &.projects {
      p {
        width: 100%;
      }
    }

  }
}
