.listing {

  article {
    .font-leading--m();

    section {
      padding-top: 30px;
    }

    li {
      display: block;
      margin-bottom: 30px;
    }

    a {
      display: block;
      margin-right: 70px;
      .truncate();
      .font-color(@color-grey--ddd);
      font-size: @font-size--s;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    time {
      float: right;
      font-size: @font-size--ss;
    }
  }

  section {


  }
}
