.post {
  .photos {

    figure {
      width: 100%;
      picture {
        text-align: left;
      }
      @media only screen and (min-width: @media--tablet) {
        margin-bottom: (@size-base*4);
      }
    }
  }
}
