.post {
  position: relative;
  article section {
    > p {
      &:last-of-type {
        margin: 0;
        padding: 0 0 30px 0;
        &:after {
          content: "";
          display: block;
          margin: 30px auto;
          width: 10px;
          height: 10px;
          left: 50%;
          border: 1px solid @color-grey--ddd;
          .border-radius(40px);
        }
      }
    }
  }

  figure {
    text-align: center;
    &.grid {
      margin: -10px 0 30px -10px;
    }
  }
}
