.post {
  .writing {
    section {
      > p {
        &:first-of-type {
          .font-family(sans);
            .font-size(mm);
            .font-leading(mm);
        }
        &:last-of-type {
          &:after {
            content: "";
            display: block;
            margin: 30px auto;
            width: 10px;
            height: 10px;
            left: 50%;
            border: 1px solid @color-grey--ddd;
            .border-radius(40px);
          }
        }
        @media only screen and (min-width: 630px) {
          &:first-of-type {
            .font-size(l);
            .font-leading(mm);
          }
          &:last-of-type {
            &:after {
              margin: 60px auto 90px auto;
            }
          }
        }
      }
    }

    figure {
      &.grid {
        margin: -10px 0 30px -10px;
      }
    }
  }
}
