.listing.projects {

  ul {
    .clearfix;
  }

  li {
    float: left;
    display: block;
    padding: 0 30px 0 0;
    width: 50%;
    &:nth-child(even) {
      padding: 0;
    }
  }

  a {
    position: relative;
    display: block;
    .font-leading(0);
    text-align: center;
    .background-color(grey--l);

    &:hover {
      text-decoration: none;

      .about {
        display: block;
      }
    }
  }

  .about {
    display: none;
    position: absolute;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;

    h1 {
      display: inline-block;
      padding: 0 10px;
      .font-leading(l);
      .font-color(grey--w);
      font-weight: bold;
      .background-color(red--m);
    }

    span {
      display: inline-block;
      .font-family(sans);
      .font-size(ss);
      .font-leading(s);
      .font-color(grey--mm);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  img {
    width: 100%;
  }
}
