%header.banner
  %nav
    %ul.brand
      %li
        %a.brand{href: "/"} Marc Ziani de Ferranti
    %ul.nav
      %li
        [
        %a{href: "/about"} About
        / •
        /
      %li
        %a{href: "/"} Writing
      ]
