main > footer {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  .font-sans();
  .font-size(ss);
  .font-leading(s);
  .font-color(grey--d);
  text-transform: uppercase;
  .background-color(grey--l);

  a {
    .font-color(grey--dd);
  }

  nav {
    margin: 33px 0 0 0;
    a {
      display: block;
      margin: 0 0 0 33px;
      width: 30px;
      height: 30px;
      .font-size(m);
      .font-color(grey--m);
      &:hover {
        .background-color(grey--w, 0);
        .font-color(blue--l);
      }

      i {
        &.fa-github, &.fa-twitter {
          .font-size(l);
        }
      }
    }
  }

  ul {
    overflow: visible;
    text-align: center;
  }

  li {
    display: inline-block;
    &:first-of-type {
      a {
        margin: 0;
      }
    }
  }

}
