body > header {
  margin: 0 auto;
  .font.sans();
  .font-size(ss);
  letter-spacing: 1px;

  nav {
    margin: 0 auto;
    padding: 30px;
    width: 100%;
    text-align: center;
    .clearfix;
    @media screen and (max-width: 360px) { padding: 30px 15px; }
    @media screen and (min-width: 630px) {
      padding: 30px 30px 60px 30px;
      width: 620px;
    }
  }


// LOGO ////////////////////////////////////////////////////////////////////////

  a.brand {
    display: inline-block;
    margin: 0 0 22px 0;
    height: 30px;
    .font-size(m);
    border-bottom: none;

    &:before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url('/assets/img/marcziani-icon-grey.png');
      background-size: 100%;
    }

    span {
      display: none;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      @media screen and (min-width: 630px) { display: inline-block; }
    }

    &:hover {
      background-color: transparent;
      @media screen and (min-width: 630px) { background-color: @color-blue--d; }
      &:before {
        background-image: url('/assets/img/marcziani-icon-blue.png');
        @media screen and (min-width: 630px) {
          background-image: url('/assets/img/marcziani-icon-white.png');
        }
      }
    }
  }


// NAVIGATION //////////////////////////////////////////////////////////////////

  ul {
    // border-bottom: @border-structural;
    li {
      display: inline-block;
      margin-right: 30px;
      &:last-of-type {
        margin-right: 0;
      }
      @media screen and (max-width: 420px) { margin-right: 15px; }
    }
    a {
      padding: 0 4px;
      color: @color-grey--m;
      border-bottom: 1px dotted @color-grey--m;

      &:hover {
        &:after {
          width: 100%;
          margin-left: 0%;
          margin-right: 0%;
          .opacity(1);
          .transition(all 0.15s linear);
        }
      }

      &.active {
        color: @color-grey--w;
        background-color: @color-grey--ddd;
        border-bottom: 1px dotted @color-grey--ddd;
        &:after {
          width: 100%;
          margin-left: 0%;
          margin-right: 0%;
          border-top: 1px solid @color-grey--dd;
          .opacity(1);
        }
      }
    }
  }
}
