*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  &.fn-open {
    cursor: pointer;
  }
}


// LISTING /////////////////////////////////////////////////////////

article {
  margin: 0 auto;
  width: 100%;
  @media only screen and (min-width: 630px) { width: 620px; }

  header {
    .layout;

    p, h2 {
      margin: 0;
      padding: 0;
      width: 100%;
      bottom: 0;
      .font.sans();
      .font-size(ss);
      .font-leading(ss);
      text-align: center;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 1px;
    }

    time {
      display: block;
      padding-bottom: 60px;
      width: 100%;
      text-align: center;
      span {
        &:nth-of-type(1) {
          padding-left: 10px;
        }
        &:nth-of-type(3) {
          padding-right: 10px;
        }
      }
    }
  }

  section {
    padding: 0 30px 60px 30px;
    .listing & {
      padding-left: 30px;
      padding-right: 30px;
    }
    > p {
      font-size: 15px;
      @media only screen and (min-width: 630px) { font-size: inherit; }
    }
  }

  section > p:first-of-type {
    .font-size(m);
    .font-leading(m);
    color: @color-grey--ddd;
    > a {
      background-position: 0 24px;
    }
  }
}

section {
  >p, >ul {
    .layout;
  }
}

.layout {
  margin-bottom: @size-base;
  padding-left: @size-base;
  padding-right: @size-base;
  @media only screen and (min-width: 630px) {
    // margin: 0 auto 30px auto;
    margin-left: auto;
    margin-right: auto;
    width: @size-width--l;
  }
}
