*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  &.fn-open {
    cursor: pointer;
  }
}


article {

  header {
    .layout;

    p, h2 {
      margin: 0;
      padding: 0;
      width: 100%;
      bottom: 0;
      .font.sans();
      .font-size(ss);
      .font-leading(ss);
      font-weight: 400;
      font-style: normal;
      letter-spacing: 1px;
    }
  }

  .listing &, .default & {
    section:last-of-type {
      padding-bottom: (@size-base*6);
    }
  }

  section > p:first-of-type {
    .font-size(m);
    .font-leading(m);
    color: fade(@color-obsidian, 100%);
    > a {
      background-position: 0 24px;
    }
  }
}

section {
  >p, >ul {
    .layout;
  }
}

.layout {
  margin-bottom: @size-base;
  padding-left: @size-base;
  padding-right: @size-base;
  @media only screen and (min-width: @media--tablet) {
    // margin: 0 auto 30px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: @size-width--l;
  }
}
